body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(background.jpg);
    font-family: Algerian
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.glowing {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: default;
    opacity: 1;
    margin: 0;
    padding: 10px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal 32px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

    .glowing:hover {
        text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
@font-face {
    font-family: 'Oswald-Light';
    src: url('Oswald-Light.ttf') format('truetype'), url('Oswald-Medium.ttf') format('truetype'), url('Oswald-Regular.ttf') format('truetype'), url('Precious.ttf') format('truetype'), url('Roboto-Light.ttf') format('truetype'), url('Roboto-Regular.ttf') format('truetype'), url('Roboto-Medium.ttf') format('truetype'), url('RobotoSlab-Regular.ttf') format('truetype');
}

h1 {
    color: white;
    font-family: Roboto-Regular;
}

h2 {
    color: #ffd800;
    font-family: Oswald;
    font-size: 35px;
    text-shadow: 1px -1px 0 #000, -1px 1px 0 #000;
}

h3 {
    font-family: Roboto-Thin;
    text-transform: uppercase;
}

h4 {
    color: #00ffff;
    font-family: Roboto-Regular;
    font-size: 25px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.blank {
    background-color: rgba(255, 255, 255, 0.2);
}

.blankrly {
    background-color: rgba(255, 255, 255, 1.0);
}

.bordered {
    border-style: solid;
    border-color: gold;
}

