<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/82f8281e-3564-4e33-9802-c1295e89c340/resourcegroups/EllenBday20170720102517ResourceGroup/providers/Microsoft.Web/sites/EllenBday20170720102517</ResourceId>
    <ResourceGroup>EllenBday20170720102517ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ellenbday20170720102517.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ellenbday20170720102517.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EllenBday20170720102517</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EllenBday20170720102517</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=True;User ID=Zheng261;Password=64758678kK!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication2.Models.DataContext, WebApplication2" MigrationConfiguration="WebApplication2.Migrations.Configuration, WebApplication2" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=True;User ID=Zheng261;Password=64758678kK!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|DbContext-20170721203003.mdf;Initial Catalog=DbContext-20170721203003;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DbContext-20170721203003; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DbContext-20170721203003.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:zhengyan.database.windows.net,1433;initial catalog=FirstDatabase;persist security info=True;user id=Zheng261;password=64758678kK!;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=True;User ID=Zheng261;Password=64758678kK!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=False;User ID={16yanz};Password={64758678k};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=False;User ID={16yanz};Password={64758678k};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:zhengyan.database.windows.net,1433;initial catalog=FirstDatabase;persist security info=True;user id=Zheng261;password=64758678kK!;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zhengyan.database.windows.net,1433;Initial Catalog=FirstDatabase;Persist Security Info=True;User ID=Zheng261;Password=64758678kK!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataContext" />
  </ItemGroup>
</Project>