@model WebApplication2.Models.Entities.Event_Ideas

@{
    ViewBag.Title = "Create";
}

<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO97_IwVdaInenZiUFD59EinufmBUuWh8&libraries=places"></script>
</head>

<div align="center" id="CreateFirst">
    <h2>New Plan? Post it here ;D</h2>
    <div id="outerDiv">
        <h2>Name of Event</h2>
        <input id="Name" placeholder="Name" type="text" class="input-sm" required />

        <h2>Date of Event</h2>
        <input id="Date" placeholder="Date" type="date" class="input-sm" required />

        <h2>Destination</h2>
        <input id="Address" type="text" class="input-lg" required />

        <h2>Notes</h2>
        <input id="Notes" type="text" class="input-group-lg" required />
    </div>cx
 </div>
<div class="row" align="center">
        <button id="confirm" class="btn glowing">
            Create Event
        </button>
        <button id="back" class="btn glowing">
            Return
        </button>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        toastr.info("hi :>");
        $('#back').click(function () {
            window.location.href = "/Event_Ideas";
        });

        $('#confirm').click(function () {
            $('#confirm').attr("disabled", "disabled");
            var somethingIsInvalid = false;
            if (!$('#Date').val() || new Date($('#Date').val()) < new Date("Jan 1, 1970")) {
                toastr.error("Invalid start date. Enter a date after 1970.");
                somethingIsInvalid = true;
            }
            if (somethingIsInvalid) {
                $('#confirm').removeAttr("disabled");
                return;
            }
            $.post("/Event_Ideas/Create", {
                    Name: $("#Name").val(),
                    Date: $("#Date").val(),
                    Address: $("#Address").val(),
                    Notes: $("#Notes").val()
                }).then(function (result) {                 
                        window.location.href = "/Event_Ideas";
          });
         });

        function init() {
            var startAddress = document.getElementById("Address");
            var autocompleteS = new google.maps.places.Autocomplete(startAddress);
        }
        google.maps.event.addDomListener(window, 'load', init);
    </script>
}